body{
    font-family: 'Poppins', sans-serif;

}
#app{
    width: 80% ;
    margin: 0% auto;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;

}
nav li{
    list-style: none;
    padding: 6px 16px;
    background-color: rgb(4, 10, 22);
    margin: 0px 5px;
    color: #fff;
}
nav li a{
    text-decoration: none;
    color: #fff;
    font-size: 14px;
}
.nav-logo h1{
    font-size: 24px;
    line-height: 30px;
    align-items: center;
}
.counter{
    text-align: center;
}
button{
    background-color: #462c2f;
    color: #fff;
    border: 0px;
    border-radius: 3px;
    padding: 6px 10px;
}
.form{
    width: 60%;
    margin: 0% auto;
    text-align: center;
    padding: 20px 0px;
}
.formfill{
    width: 60%;
    margin: 0% auto;
    padding: 20px 0px;
}